* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(143, 122, 163);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: brown;
    background-color: rgb(207, 201, 191);
    
}
#new-btn{
    padding: 12px 16px;
    font-size: 1.1rem;
    /* margin: 9px 8px; */
    border: none;
    border-radius: 10px;
    color: rgba(230, 225, 225, 0.856);
    background-color: rgb(33, 44, 65);
    transition: all 0.3s ease-in;
}
#new-btn:hover
{
    background-color: rgba(33, 44, 65, 0.5);

}
#reset-btn {
    padding: 12px 16px;
    font-size: 1.1rem;
    /* margin: 9px 8px; */
    border: none;
    border-radius: 10px;
    color: rgba(230, 225, 225, 0.856);
    background-color: rgb(33, 44, 65);
    transition: all 0.3s ease-in;

}
.hide{
    display: none;
}
.msg_container{
    height: 15vmin;
    margin-top: 7vmin;
}
.msg{
    color: #ffffc7;
    font-size: 5vmin;
}
#reset-btn:hover {
    background-color: rgba(33, 44, 65, 0.5);

}